extends layout

block content
  .container-fluid(ng-controller='MainController')
    se-header
    .row(ng-if='!loaded')
      .col-sm-12.jumbotron.text-center
        h1
          span.glyphicon.glyphicon-refresh.gly-spin
    .row(ng-if='loaded')
      .col-sm-12
        .panel.panel-default
          .panel-heading Bucketsstats
          .panel-body
            table.table.m-t-lg(ng-show="settings.apiKey && buckets")
              tr
                th.col-sm-2 Name
                th.col-sm-4 ID
                th.col-sm-5 Users
                th.col-sm-1.text-right Success
                th.col-sm-1.text-right Failed
                th.col-sm-1.text-right Last result
                th.col-sm-1.text-right Last date
              tr(ng-repeat="bucket in buckets")
                td {{bucket.name}}
                td {{bucket.bId}}
                td(ng-show="bucket.users")
                  p(ng-repeat="user in bucket.users") {{user.surname}} {{user.prename}} 
                td(ng-show="!bucket.users") -
                td 
                  input(type="checkbox", ng-model="bucket.active")