extends layout

block content
  .container-fluid(ng-controller='SettingsController')
    se-header
    .row(ng-if='!loaded')
      .col-sm-12.jumbotron.text-center
        h1
          span.glyphicon.glyphicon-refresh.gly-spin
    .row(ng-if='loaded')
      .col-sm-4
        .panel.panel-default
          .panel-heading API Key
          .panel-body
            form(ng-show='!settings.apiKey')
              .form-group
                label(for='email') E-Mail
                input#email.form-control(type='email', ng-model='login.email')
              .form-group
                label(for='password') Password
                input#password.form-control(type='password', ng-model='login.password')
              .form-group
                label(for='keyName') Key-Name
                input#password.form-control(type='text', ng-model='login.name')
              .form-group
                button.btn.btn-default(type='button', ng-click='newKey()') Generate API-Key
              .text-danger(ng-show='login.error') ERROR: {{login.error}}
            form(ng-show='settings.apiKey')
              .form-group
                label(for='apiKey') API key
                input#apiKey.form-control(type='text', ng-model='settings.apiKey', readonly='readonly')
              .form-group
                button.btn.btn-default(type='button', ng-click='resetKey()') New Key 
        .panel.panel-default
          .panel-heading Bucketaction
          .panel-body
            form
              .form-group
                label(for='type') Type
                input#type.form-control(type='text', ng-model='settings.type')
        .panel.panel-default
          .panel-heading Interval
          .panel-body
            form
              .form-group
                label(for='interval') Minutes
                input#interval.form-control(type='number', min='1', ng-model='settings.interval')
        button.btn.btn-default(type='button', ng-click='applySettings()') apply
      .col-sm-8
        .panel.panel-default
          .panel-heading Available Buckets
          .panel-body
            table.table.m-t-lg(ng-show="settings.apiKey && buckets")
              tr
                th.col-sm-2 Name
                th.col-sm-4 ID
                th.col-sm-5 Users
                th.col-sm-1.text-right Active
              tr(ng-repeat="bucket in buckets")
                td {{bucket.name}}
                td {{bucket.bId}}
                td(ng-show="bucket.users")
                  p(ng-repeat="user in bucket.users") {{user.surname}} {{user.prename}} 
                td(ng-show="!bucket.users") -
                td 
                  input(type="checkbox", ng-model="bucket.active")
            h2.text-center(ng-show="!settings.apiKey") Please generate a API Key