extends layout

block content
  .container-fluid(ng-controller='SettingsController')
    se-header
    .row(ng-if='!loaded')
      .col-sm-12.jumbotron.text-center
        h1
          span.glyphicon.glyphicon-refresh.gly-spin
    .row(ng-if='loaded')
      .col-sm-4
        login(ng-if='!settings.apiKey')
        settings(ng-if='settings.apiKey')
      .col-sm-8    
        .panel.panel-default
          .panel-heading
            | Buckets
          .panel-body
            table.table.m-t-lg
              tr
                th.col-sm-7
                  | ISP
                th.col-sm-4
                  | ZIP
                th.col-sm-1.text-right
                  | Heartbeats
                th.text-right
                  | Diff
                th.text-right
                  | Activated        