extends layout

block content
  .container-fluid(ng-controller='MainController')
    se-header
    .col-sm-12.col-lg-3(style="padding-left:0; padding-right:0;")
      .panel.panel-default.panel-primary
        .panel-heading Menu
        .panel-body
          div.col-sm-4.col-lg-12
              button.btn.btn-lg.btn-primary.btn-block(type='button', ng-click="redirect('/settings')") General Settings
          div.col-sm-4.col-lg-12
              button.btn.btn-lg.btn-primary.btn-block(type='button', ng-click="redirect('/settings/reaction')") Reaction Settings
          div.col-sm-4.col-lg-12
              button.btn.btn-lg.btn-primary.btn-block(type='button', ng-click="refresh()") Refresh
    .col-sm-12.col-lg-9.jumbotron.text-center(style="padding-left:0; padding-right:0;", ng-if='!loaded')
        h1
          span.glyphicon.glyphicon-refresh.gly-spin
    .col-sm-12.col-lg-9(style="padding-left:0; padding-right:0;", ng-if='loaded')
        .panel.panel-default.panel-primary
          .panel-heading Bucketsstats
          .panel-body
            table.table.m-t-lg(ng-show="buckets.length")
              tr
                th.col-sm-1 Name 
                th.col-sm-3 ID
                th.col-sm-2 Users
                th.col-sm-1 Success
                th.col-sm-1 Failed
                th.col-sm-1 Last checked
                th.col-sm-1 Last received
                th.text-center.col-sm-1 Last result
              tr(ng-repeat="bucket in buckets", ng-click="redirect('/errors/' + bucket.bId)")
                td {{bucket.name}}
                td {{bucket.bId}}
                td(ng-show="bucket.users")
                  p(ng-repeat="user in bucket.users") {{user.surname}} {{user.prename}} 
                td(ng-show="!bucket.users") -
                td {{bucket.stats.messages.success}}
                td {{bucket.stats.messages.failed}}
                td {{bucket.stats.lastChecked | date : "HH:mm - d.MM.yy"}}
                td {{bucket.stats.lastReceived | date : "HH:mm - d.MM.yy"}}
                td.text-center 
                  span(ng-class="getLastResultIcon(bucket.stats.lastResult)", aria-hidden="true")