extends layout

block content
  .container-fluid(ng-controller='MainController')
    se-header
    .row
      .col-sm-2
        .panel.panel-default
          .panel-heading Menu
          .panel-body
            button.btn.btn-lg.btn-block.btn-primary(type='button', ng-click="redirect('/settings')") Change Settings
            button.btn.btn-lg.btn-block.btn-primary(type='button', ng-click='refresh()') Refresh
      .col-sm-10.jumbotron.text-center(ng-if='!loaded')
        h1
          span.glyphicon.glyphicon-refresh.gly-spin
      .col-sm-10(ng-if='loaded')
        .panel.panel-default
          .panel-heading Bucketsstats
          .panel-body
            table.table.m-t-lg(ng-show="buckets.length")
              tr
                th.col-sm-1 Name
                th.col-sm-3 ID
                th.col-sm-2 Users
                th.col-sm-1 Success
                th.col-sm-1 Failed
                th.col-sm-1 Last checked
                th.col-sm-1 Last received
                th.text-center.col-sm-1 Last result
              tr(ng-repeat="bucket in buckets", ng-click="redirect('/errors/' + bucket.bId)")
                td {{bucket.name}}
                td {{bucket.bId}}
                td(ng-show="bucket.users")
                  p(ng-repeat="user in bucket.users") {{user.surname}} {{user.prename}} 
                td(ng-show="!bucket.users") -
                td {{bucket.stats.messages.success}}
                td {{bucket.stats.messages.failed}}
                td {{bucket.stats.lastChecked | date : "HH:mm - d.MM.yy"}}
                td {{bucket.stats.lastReceived | date : "HH:mm - d.MM.yy"}}
                td.text-center 
                  span(ng-class="getLastResultIcon(bucket.stats.lastResult)", aria-hidden="true")