doctype html
html(ng-app='bucket-collector')
  head
    title Server-Eye | bucket-collector
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/ui-select/dist/select.css')
    link(rel='stylesheet', href='/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/spin.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/angular/angular.js')
    script(src='/angular-sanitize/angular-sanitize.js')
    script(src='/ui-select/dist/select.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    
    script(src='/js/app.js')
    script(src='/js/additionalSettings/AdditionalSettingsController.js')
    script(src='/js/data/ApiKeyService.js')
    script(src='/js/data/BucketsService.js')
    script(src='/js/data/ReactionDataService.js')
    script(src='/js/data/ReactionMethodService.js')
    script(src='/js/data/SEDataService.js')
    script(src='/js/data/SchemeService.js')
    script(src='/js/data/SchemeDataService.js')
    script(src='/js/errors/ErrorsController.js')
    script(src='/js/errors/ErrorsService.js')
    script(src='/js/main/MainController.js')
    script(src='/js/settings/SettingsController.js')
    script(src='/js/settings/SettingsService.js')
    script(src='/js/utils/SeHeaderDirective.js')
    script(src='/js/utils/SettingsInputDirective.js')
    script(src='/js/utils/SettingsSelectDirective.js')
    script(src='/js/utils/SettingsAssignmentDirective.js')
  body
    block content