body {
    margin-top: 10px;
}

.logo {
    text-align: right;
    border-bottom: 4px solid #ed872f;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.color-ok {
    color: #8ACA8B;
}
.color-error {
    color: #FF7700;
}
.color-working{
    color: #C8C8C8;
}

.btn-primary {
    border-color: #DEA649;
    background-color: #DEA649;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #dca03c;
    border-color: #dca03c;
    color: white;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #e1ae5a;
    border-color: #e1ae5a;
}