body {
    margin-top: 10px;
}

.logo {
    text-align: right;
    border-bottom: 4px solid #ed872f;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.color-ok {
    color: #8ACA8B;
}
.color-error {
    color: #FF7700;
}
.color-working{
    color: #C8C8C8;
}