.panel.panel-default
  .panel-heading
    | Login
  .panel-body
    form
      .form-group
        label(for='email') E-Mail
        input#email.form-control(type='email')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password')