form
  .form-group
    label(for='{{scheme.name}}') {{scheme.displayName}} SELECT
    ui-select(id='{{scheme.name}}', ng-model="data", on-select="select($item)")
      ui-select-match(placeholder="{{scheme.displayName}}", title="{{scheme.description}}") {{$select.selected[scheme.data.displayValue]}}
      ui-select-choices(repeat="value in scheme.possibleValues | filter: $select.search")
        span(ng-bind-html="value[scheme.data.displayValue] | highlight: $select.search")