form
  .form-group
    .row
      .col-lg-6
        label(for='{{scheme.data[0].dataValue}}') {{scheme.data[0].displayName}} SELECT
        ui-select(id='{{scheme.data[0].dataValue}}', ng-model="first", on-select="selectFirst($item)")
          ui-select-match(placeholder="{{scheme.data[0].displayName}}", title="{{scheme.description}}") {{$select.selected[scheme.data[0].displayValue]}}
          ui-select-choices(repeat="value in scheme.possibleValues[0] | filter: $select.search")
            span(ng-bind-html="value[scheme.data[0].displayValue] | highlight: $select.search")
      .col-lg-6
        label(for='{{scheme.data[1].dataValue}}') {{scheme.data[1].displayName}} SELECT
        ui-select(id='{{scheme.data[1].dataValue}}', ng-model="second", on-select="selectSecond($item)")
          ui-select-match(placeholder="{{scheme.data[1].displayName}}", title="{{scheme.description}}") {{$select.selected[scheme.data[1].displayValue]}}
          ui-select-choices(repeat="value in scheme.possibleValues[1] | filter: $select.search")
            span(ng-bind-html="value[scheme.data[1].displayValue] | highlight: $select.search")