form
  .form-group
    .row
      .col-sm-5
        label(for='{{scheme.data[0].dataValue}}') {{scheme.data[0].displayName}}  
          span(style='color:red', ng-if='scheme.data[0].required') *  
          a(ng-if='scheme.data[0].helpHtml', uib-popover-html='scheme.data[0].helpHtml')
            span.glyphicon.glyphicon-question-sign
          a(ng-if='scheme.data[0].helpText', uib-popover='{{scheme.data[0].helpText}}')
            span.glyphicon.glyphicon-question-sign
          a(ng-if='scheme.error[0]', uib-popover='{{scheme.error[0]}}').btn.btn-xs.btn-danger
            span.glyphicon.glyphicon-warning-sign
        ui-select(ng-if="scheme.data[0].type == 'select'", id='{{scheme.data[0].dataValue}}', ng-model="input.first", on-select="selectFirst($item)")
          ui-select-match(placeholder="{{scheme.data[0].displayName}}", title="{{scheme.description}}") {{$select.selected[scheme.data[0].displayValue]}}
          ui-select-choices(ui-disable-choice="value.disable", repeat="value in scheme.possibleValues[0] | filter: $select.search")
            span(ng-bind-html="value[scheme.data[0].displayValue] | highlight: $select.search")
        input.form-control(ng-if="scheme.data[0].type == 'input'", id='{{scheme.data[0].dataValue}}', placeholder='{{scheme.data[0].default}}',type='{{scheme.inputtype}}', ng-class='getInputClass()', ng-model='input.first')  
      .col-sm-5
        label(for='{{scheme.data[1].dataValue}}') {{scheme.data[1].displayName}}  
          span(style='color:red', ng-if='scheme.data[1].required') *  
          a(ng-if='scheme.data[1].helpHtml', uib-popover-html='scheme.data[1].helpHtml')
            span.glyphicon.glyphicon-question-sign
          a(ng-if='scheme.data[1].helpText', uib-popover='{{scheme.data[1].helpText}}')
            span.glyphicon.glyphicon-question-sign
          a(ng-if='scheme.error[1]', uib-popover='{{scheme.error[1]}}').btn.btn-xs.btn-danger
            span.glyphicon.glyphicon-warning-sign
        ui-select(ng-if="scheme.data[1].type == 'select'", id='{{scheme.data[1].dataValue}}', ng-model="input.second", on-select="selectSecond($item)")
          ui-select-match(placeholder="{{scheme.data[1].displayName}}", title="{{scheme.description}}") {{$select.selected[scheme.data[1].displayValue]}}
          ui-select-choices(ui-disable-choice="value.disable", repeat="value in scheme.possibleValues[1] | filter: $select.search")
            span(ng-bind-html="value[scheme.data[1].displayValue] | highlight: $select.search")
        input.form-control(ng-if="scheme.data[1].type == 'input'", id='{{scheme.data[1].dataValue}}', placeholder='{{scheme.data[1].default}}', type='{{scheme.data[1].inputtype}}', ng-class='getInputClass()', ng-model='input.second')
      .col-sm-2
        button.btn.btn-block.btn-primary(style="margin-top:25px;", type='button', ng-click='add()') {{getAddText()}}
table.table.table-hover.col-sm-12(ng-show="scheme.multiple && (data.length > 0)")
  tbody
    tr(ng-repeat="dataSet in data") 
      td
        a(ng-click='remove(dataSet)')
           span.glyphicon.glyphicon-remove
        |   {{(scheme.data[0].type == 'select') ? dataSet.first[scheme.data[0].displayValue] : dataSet.first}} 
      td.col-sm-5 {{(scheme.data[1].type == 'select') ? dataSet.second[scheme.data[1].displayValue] : dataSet.second}}
      td.col-sm-2