form(name='form')
  .form-group
    .row
      div(ng-class='getClass()')
        label(for='{{scheme.name}}') {{scheme.displayName}}  
          a(ng-if='scheme.helpHtml', uib-popover-html='scheme.helpHtml')
            span.glyphicon.glyphicon-question-sign
          a(ng-if='scheme.helpText', uib-popover='{{scheme.helpText}}')
            span.glyphicon.glyphicon-question-sign
        input.form-control(id='{{scheme.name}}', type='{{scheme.inputtype}}', placeholder='{{scheme.default}}', name='input', ng-class='getInputClass()', ng-model='data.input')
      div.col-sm-2(ng-if='scheme.multiple')
        button.btn.btn-block(style="margin-top:25px;", type='button', ng-click='add()') add
ul.list-group(ng-if="scheme.multiple && (returnData.length > 0)")
  li.list-group-item(ng-repeat="value in returnData") 
    a(ng-click='remove(value)')
      span.glyphicon.glyphicon-remove
    |  {{value}} 